body {
    padding: 0;
    margin: 0;
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;

}

.logo-merco {
    height: 39px;
}

.login-bouton {
    display: flex;
    gap: 5px;
    color: white;
}

.login-nav {
    display: flex;
}